:root[data-theme='dark'] {
    --color-light: #000000;
    --color-dark: #ffffff;
    --color-accent: #ff6e1a;
    --color-light-second: #2b2b2b;
    --color-dark-second: #dbdbdb;
}

:root[data-theme='default'] {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-accent: #ff6e1a;
    --color-light-second: #dbdbdb;
    --color-dark-second: #2b2b2b;
}
