/*element.style {*/
/*    transform: translate3d(0%, 0px, 0px);*/
/*    transition: 200ms;*/
/*}*/

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #af1880cc;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}
